# IS362_Assignment7

Here is the .csv file that has the movies, rating scores, and rater names.

In [192]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/jamesweatherbee/Desktop/School/IS362_DataAquisition/Assignment7_data.csv')
df.set_index('Rater', inplace=True)
df

,Justice League,Tenet,The Invisible Man,Onward,Sonic the Hedgehog,Doolittle
Rater,,,,,,
Paul,2.0,4,4,3.0,2.0,1.0
Nick,1.0,4,5,5.0,NaN,1.0
Maria,1.0,3,3,NaN,2.0,NaN
Geoff,3.0,2,4,NaN,NaN,2.0
Tyler,NaN,2,5,NaN,1.0,NaN

In [194]:
# Here is the average rating for each rater.

avg_user_rating = df.mean(axis=1)
avg_user_rating.round(2)

Rater
Paul     2.67
Nick     3.20
Maria    2.25
Geoff    2.75
Tyler    2.67
dtype: float64

In [193]:
# Here is the average rating for each movie. 

avg_movie_rating = df.mean(axis=0)
avg_movie_rating.round(2)

Justice League        1.75
Tenet                 3.00
The Invisible Man     4.20
Onward                4.00
Sonic the Hedgehog    1.67
Doolittle             1.33
dtype: float64

Using the normalization formula, each movies rating is calculated and the scores are placed in a normalized_data data frame.

In [201]:
# Normalized for each movie.

# Justice League
movie_0 = df.iloc[0:, 1]
array_movie_0 = np.array([movie_0])
array_movie_0 = array_movie_0[np.logical_not(np.isnan(array_movie_0))]
norm_movie_0 = (array_movie_0 - min(array_movie_0)) / (max(array_movie_0) - min(array_movie_0))
# Tenet
movie_1 = df.iloc[0:, 2]
array_movie_1 = np.array([movie_1])
array_movie_1 = array_movie_1[np.logical_not(np.isnan(array_movie_1))]
norm_movie_1 = (array_movie_1 - min(array_movie_1)) / (max(array_movie_1) - min(array_movie_1))
# Invisible Man
movie_2 = df.iloc[0:, 3]
array_movie_2 = np.array([movie_2])
array_movie_2 = array_movie_2[np.logical_not(np.isnan(array_movie_2))]
norm_movie_2 = (array_movie_2 - min(array_movie_2)) / (max(array_movie_2) - min(array_movie_2))
# Onward
movie_3 = df.iloc[0:, 4]
array_movie_3 = np.array([movie_3])
array_movie_3 = array_movie_3[np.logical_not(np.isnan(array_movie_3))]
norm_movie_3 = (array_movie_3 - min(array_movie_3)) / (max(array_movie_3) - min(array_movie_3))
# Sonic the Hedgehog
movie_4 = df.iloc[0:, 5]
array_movie_4 = np.array([movie_4])
array_movie_4 = array_movie_4[np.logical_not(np.isnan(array_movie_4))]
norm_movie_4 = (array_movie_4 - min(array_movie_4)) / (max(array_movie_4) - min(array_movie_4))
# Doolittle
movie_5 = df.iloc[0:, 5]
array_movie_5 = np.array([movie_5])
array_movie_5 = array_movie_5[np.logical_not(np.isnan(array_movie_5))]
norm_movie_5 = (array_movie_5 - min(array_movie_5)) / (max(array_movie_5) - min(array_movie_5))


print('Justice League', norm_movie_0)
print('Tenet', norm_movie_1)
print('Invisible Man', norm_movie_2)
print('Onward', norm_movie_3)
print('Sonic the Hedgehog', norm_movie_4)
print('Doolittle', norm_movie_5)

Justice League [1.  1.  0.5 0.  0. ]
Tenet [0.5 1.  0.  0.5 1. ]
Invisible Man [0. 1.]
Onward [1. 1. 0.]
Sonic the Hedgehog [0. 0. 1.]
Doolittle [0. 0. 1.]

In [207]:
normalized_data =  {'movie': ['Justice League', 'Tenet', 'Invisible Man', 'Onward', 'Sonic the Hedgehog', 'Doolittle'], 
                    'normalized scores': [norm_movie_0, norm_movie_1, norm_movie_2, norm_movie_3, norm_movie_4,
                                          norm_movie_5,],
                    'normalized averages': [np.average(norm_movie_0), np.average(norm_movie_1),
                                           np.average(norm_movie_2), np.average(norm_movie_3),
                                           np.average(norm_movie_4), np.average(norm_movie_5)]}
norm_df = pd.DataFrame(normalized_data)
norm_df

                movie          normalized scores  normalized averages
0      Justice League  [1.0, 1.0, 0.5, 0.0, 0.0]             0.500000
1               Tenet  [0.5, 1.0, 0.0, 0.5, 1.0]             0.600000
2       Invisible Man                 [0.0, 1.0]             0.500000
3              Onward            [1.0, 1.0, 0.0]             0.666667
4  Sonic the Hedgehog            [0.0, 0.0, 1.0]             0.333333
5           Doolittle            [0.0, 0.0, 1.0]             0.333333

Using the standardization formula, each movies rating is calculated and the scores are placed in a standardized_data data frame.

In [210]:
# Standardized for each movie.

stan_movie_0 = (array_movie_0 - np.average(array_movie_0) / np.std(array_movie_0)).round(4)
stan_movie_1 = (array_movie_1 - np.average(array_movie_1) / np.std(array_movie_1)).round(4)
stan_movie_2 = (array_movie_2 - np.average(array_movie_2) / np.std(array_movie_2)).round(4)
stan_movie_3 = (array_movie_3 - np.average(array_movie_3) / np.std(array_movie_3)).round(4)
stan_movie_4 = (array_movie_4 - np.average(array_movie_4) / np.std(array_movie_4)).round(4)
stan_movie_5 = (array_movie_5 - np.average(array_movie_5) / np.std(array_movie_5)).round(4)

standardized_data =  {'movie': ['Justice League', 'Tenet', 'Invisible Man', 'Onward', 'Sonic the Hedgehog', 'Doolittle'], 
                    'standardized scores': [stan_movie_0, stan_movie_1, stan_movie_2, stan_movie_3, stan_movie_4, 
                                          stan_movie_5],
                    'standardized averages': [np.average(stan_movie_0), np.average(stan_movie_1),
                                           np.average(stan_movie_2), np.average(stan_movie_3),
                                           np.average(stan_movie_4), np.average(stan_movie_5)]}
stan_df = pd.DataFrame(standardized_data)
stan_df

,movie,standardized scores,standardized averages
0,Justice League,"[0.6459, 0.6459, -0.3541, -1.3541, -1.3541]",-0.354100
1,Tenet,"[-1.6125, -0.6125, -2.6125, -1.6125, -0.6125]",-1.412500
2,Invisible Man,"[-1.0, 1.0]",0.000000
3,Onward,"[-1.5355, -1.5355, -2.5355]",-1.868833
4,Sonic the Hedgehog,"[-1.8284, -1.8284, -0.8284]",-1.495067
5,Doolittle,"[-1.8284, -1.8284, -0.8284]",-1.495067

In this case, due to the small amount of data (6 movies and 5 raters) and the small variance of variables (rating are only on a small scale of 1 to 5), using actual data would be sufficient in presenting the data to a user in a comprehensable manner.  In cases where the datasets are much larger, perhaps if the movies were rated 1 to 1000, normalizing the data would make any outliers more relatable to the rest of the data.  Standardization would also work better with a larger dataset by demonstrating differences in scores as they drift from the average score of each movie.